<%layout('layout') -%>
<div class="row">
<div class="col-lg-6 col-md-offset-3">
<% if (errors.length > 0) { %>
  <div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismmiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= errors %>
</div>
<% } %>

    <form accept-charset="UTF-8" action="" method="post">
		<input class="span3" name="name" placeholder="Full Name" type="text">
        <input class="span3" name="email" placeholder="email" type="email">
        <input class="span3" name="password" placeholder="Password" type="password">
        <button class="btn btn-warning" type="submit">Sign up for WebApp</button>
    </form>

</div>
</div>
